<!DOCTYPE html>
<html ng-app="videoApp">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style/style.css">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
        <title>My Favourite Videos</title>
    </head>
    <body ng-controller="videoListController">
        <div class="md-menu" ng-cloak>
            <span class="md-menu-item" layout="column" flex="33" flex-sm="100" layout-align="center center">
                <md-menu md-offset="0 -7">
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon md-menu-origin>Pagination</md-icon>
                    </md-button>
                    <md-menu-content width="6">
                        <md-menu-item ng-repeat="item in [5, 10, 20, 50]">
                            <md-button ng-click="pagination(item)"> <span md-menu-align-target>Display</span> {{item}} </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </span>
            <span ng-click="favouriteCheckbox()" class="md-menu-item" layout="column" flex-sm="100" flex="33" layout-align="center center">
                <md-checkbox ng-model="checkBox" aria-label="Open demo menu" class="md-icon-checkbox">
                    <md-icon md-menu-origin>favourite</md-icon>
                </md-checkbox>
            </span>
            <span class="md-menu-item" layout="column" flex="33" flex-sm="100" layout-align="center center">
                <md-menu md-offset="0 -7">
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon md-menu-origin>sort</md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item ng-repeat="item in orderOptions">
                            <md-button ng-click="order(item.sort)"> <span md-menu-align-target></span> {{item.name}} </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </span>
            <span class="md-menu-item" layout="column" flex-sm="100" flex="33" layout-align="center center">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="clearAll()">
                    <md-icon md-menu-origin>clear all</md-icon>
                </md-button>
            </span>
            <span class="md-menu-item" layout="column" flex-sm="100" flex="33" layout-align="center center">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="demoMovies()">
                    <md-icon md-menu-origin>demo movies</md-icon>
                </md-button>
            </span>
            <span class="md-menu-item" layout="column" flex="33" flex-sm="100" layout-align="center center">
                <md-menu md-offset="0 -7">
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon md-menu-origin>display</md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item ng-repeat="item in ['Grid', 'List']">
                            <md-button ng-click="display(item)"> <span md-menu-align-target></span> {{item}} </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </span>
        </div>

        <form ng-submit="addVideo()">
            <input id="inputLink" type="text" ng-model="videoUrl"  size="30" placeholder="enter youtube or vimeo links">
            <input class="btn-primary" type="submit" value="add">
        </form>
        <div class="videoContent">
            <md-list>
                <md-list-item class="list" ng-repeat="item in videos | orderBy: paramName">
                    <video-item class="videoBox" item="item"></video-item>
                </md-list-item>
            </md-list>
        </div>
        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angular-material/angular-material.js"></script>
        <script src="node_modules/angular-aria/angular-aria.js"></script>
        <script src="node_modules/angular-animate/angular-animate.js"></script>
        <script src="node_modules/angular-messages/angular-messages.js"></script>
        <script type="text/javascript" src="script/main.js"></script>
        <script type="text/javascript" src="script/youtubeVideo.js"></script>
        <script type="text/javascript" src="script/vimeaVideo.js"></script>
        <script type="text/javascript" src="script/localStorage.js"></script>
        <script type="text/javascript" src="script/controller.js"></script>
        <script type="text/javascript" src="script/directive.js"></script>
    </body>
</html>
