form {
    text-align: center;
}

.videoContent, .youtubeContent {
    padding: 20px;
}

.videoContent .list {
    display: inline-block;
}

.remove {
    display: none !important;
}

.favourite {
    background-color: #B2E1E7;
}

.videoBox {
    position: relative;
    display: inline-block;
    margin: 10px;
    height: 180px;
    width: 190px;
}

.videoBox .videoThumb {
    width: 190px;
    height: 110px;
    background-color: #E4E4E4;
    position: absolute;
    top: 0;
}

.videoBox .favourite {
    position: absolute;
    z-index: 1;
    border: 1px #FE0000 solid;
    font-size: 13px;
    font-weight: bold;
    background-color: white;
    color: red;
    right: 10%;
    top: 44%;
}

.videoBox .videoRemove {
    float: right;
    margin-right: -10px;
}

.videoBox .innerDiv {
    position: absolute;
    width: 100%;
    top: 55%;
    bottom: 0;
}

.videoBox .innerDivList {
    position: absolute;
    width: 40%;
    left: 30%;
}

.videoBox .innerDiv .videoTitle {
    font-size: 13px;
    text-align: center;
}

.videoBox .innerDiv .videoLikes {
    font-size: 11px;
    float: left;
}

.videoBox .innerDiv .videoViews {
    font-size: 11px;
    float: right;
}

.videoBox .innerDiv .additionDate {
    font-size: 11px;
    float: left;
    width: 100%
}

.md-menu {
  padding: 24px;
  min-height: 350px
  display: inline;
}

.md-menu .md-menu-item {
    display: inline;
}

.md-menu-item md-checkbox {
    width: 120px;
}

.md-button.md-icon-button {
    width: 100px !important;
    height: 50px !important;
}

.md-button.md-icon-button md-icon {
    width: 100% !important;
}

/*.md-button .md-icon-button md-icon {
    width: 100%;
    height: 100%;
}*/
