<md-dialog aria-label="List dialog">
  <md-dialog-content style="width:520px; height:500px;">
    <iframe ng-src="{{url}}" width="500" height="400" frameborde="0"  webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="closeDialog()" class="md-primary">
      Close Dialog
    </md-button>
  </md-dialog-actions>
</md-dialog>
