<div class="upperDiv">
    <a href="" class="videoRemove" ng-click="removeItem()">X</a>
    <a href="" class="favourite" ng-click="addToFavourite($event)">Add to favourites</a>
    <img ng-click="showDialog()" class="videoThumb" ng-src="{{item.thumbnail}}" alt="{{item.thumbnail}}" />
</div>
<div class="innerDiv">
    <p class="videoTitle">
        <a ng-href="{{item.url}}" target="_blank" >
            {{item.title}}
        </a>
    </p>
    <span class="videoLikes">Likes: {{item.likes}}</span>
    <span class="videoViews">Views: {{item.views}}</span>
    <span class="additionDate">Date: {{item.date}}</span>
</div>
